<section id="projects">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<a href="assets/papers/SCDE-DLS.pdf"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-info-circle"></a></i>&nbsp;&nbsp;<strong><span>Self-Contained Development Environments</span></strong>
			- Dynamic Languages Symposium (DLS), 2018.
		</h5>
		<h5>
			<a href="assets/papers/FREE-TSE.pdf"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="https://ieeexplore.ieee.org/document/8307099"><i class="fa fa-info-circle"></a></i>&nbsp;&nbsp;<strong><span>Fully Reflective Execution Environments</span></strong>
			- IEEE Transactions on Software Engineering (TSE), 2018.
		</h5>
		<h5>
			<a href="assets/papers/MOPRV-ICOOLPS.pdf"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="https://dl.acm.org/citation.cfm?id=3098577"><i class="fa fa-info-circle"></a></i>&nbsp;&nbsp;<strong><span>A Metaobject Protocol for Optimizing Application-Specific Run-Time Variability</span></strong>
			- Implementation, Compilation, Optimization of Object-Oriented Languages, Programs and Systems Workshop! (ICOOLPS), 2017.
		</h5>
    	<h5>
			<a href="assets/papers/FRVMRSA-ICSEC.pdf"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="https://dl.acm.org/citation.cfm?id=3098422"><i class="fa fa-info-circle"></a></i>&nbsp;&nbsp;<strong><span>Fully-reflective VMs for ruling software adaptation</span></strong>
			- International Conference on Software Engineering Companion (ICSE-C), 2017.
		</h5>
		<h5>
			<a href="assets/papers/BERVM-DLS.pdf"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="https://dl.acm.org/citation.cfm?doid=2989225.2989234"><i class="fa fa-info-circle"></a></i>&nbsp;&nbsp;<strong><span>Building Efficient Highly Runtime Adaptable Virtual Machines</span></strong>
			- Dynamic Languages Symposium (DLS), 2016.
		</h5>
		<h5>
			<a href="assets/papers/TFRE-ONWARD.pdf"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;<a href="https://dl.acm.org/citation.cfm?id=2814241"><i class="fa fa-info-circle"></a></i>&nbsp;&nbsp;<strong><span>Towards Fully Reflective Environments</span></strong>
			- International Symposium on New Ideas, New Paradigms, and Reflections on Programming and Software (Onward!), 2015.
		</h5>
	</div>
</div>
</section>
